---
import ImageUpload from '../components/ImageUpload.jsx';
---
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>私のalt生成ちゃん</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="alternate icon" href="/favicon.ico">
  </head>
  <body class="flex justify-center items-center h-screen flex-col">
    <h1 class="text-4xl font-bold text-center">私のalt生成ちゃん</h1>
    <p></p>
    <ImageUpload client:load />
  </body>
</html>