---
import ImageUpload from "@/components/ImageUpload.tsx";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>私のalt生成ちゃん</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate icon" href="/favicon.ico" />
  </head>
  <body class="flex h-screen flex-col items-center justify-center">
    <h1 class="text-center text-4xl font-bold">私のalt生成ちゃん</h1>
    <ImageUpload client:load />
  </body>
</html>
